## VSCODE ##
.vscode/
.vscode*

## ECLIPSE ##
.cproject/
.project/
.settings/
Debug/

## COMPILATION ##
*.cmd
*.cmd.*
*.mod
*.mod.*
*.o
*.o.*
*.ko
*.ko.*
*.symvers
*.order

## USER APP ##
user/simple-multithread*
user/device-controller

## LATEX ##
*.aux
*.log
*.synctex.gz
*.out
*.toc
*.lof
*.lot
*.lol
*.fls
*.fdb_latexmk
