## VSCODE ##
.vscode/
.vscode*

## ECLIPSE ##
.cproject/
.project/
.settings/
Debug/

## COMPILATION ##
*.cmd
*.cmd.*
*.mod
*.mod.*
*.o
*.o.*
*.ko
*.ko.*
*.symvers
*.order

## USER APP ##
user/user
user/device-controller
